## OS
.DS_Store
Thumbs.db
Desktop.ini

## IDEs
.idea/
.vscode/
.fleet/
.run/
*.iml
*.ipr
*.iws
*.swp
*~

## Kotlin / Gradle
.kotlin/
.gradle/
**/build/
out/
*.hprof

## Android
local.properties
.cxx/
.externalNativeBuild/
captures/
*.apk
*.ap_
*.aab
*.keystore
*.jks
*.p12
key.properties

## iOS / Xcode
DerivedData/
**/xcuserdata/
*.xcuserstate
**/*.xccheckout
**/*.xcscmblueprint

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

Pods/
Carthage/Build/
.build/
.swiftpm/

